@charset "utf-8";
/* CSS Document */

/*Example for a Menu Style*/
.menu { height:27px;}
.menu ul {margin:0px; padding:0px; list-style:none; text-align:center;}
.menu li {display:inline;}
.menu li a {
	text-decoration: none;
	background-image:url(../images/inner-tab-menu-button.png);
	background-repeat:no-repeat;
	background-position:left top;
	color: #ffffff;
	display: block;
	font-size:11px;
	padding-left:20px;
	font-weight:bold;
	outline: none;
	margin-left:9px;
	font-family:Tahoma, Geneva, sans-serif;
	float:left;
	line-height:27px;
	height:27px;
}

.menu li a span{
	background-image:url(../images/inner-tab-menu-button.png);
	background-repeat:no-repeat;
	background-position:right -27px;
	display:block;
	padding-right:20px;
	text-decoration:none;
	color:#ffffff;
}


.menu li a:hover, .menu li a.tabactive{
	text-decoration: none;
	background-position:left -54px;
	color: #ffffff;
	display: block;
	outline: none;
	font-weight:bold;
	float:left;
	position:relative;
}

.menu li a:hover span, .menu li a.tabactive span{ 
	background-position:right -81px;
	display:block;
}

.tab-inner-contain {
	background-color:#54B093;
	color:#ffffff;
	min-height:60px;		
}

.tab-inner-contain-top-padding { 
padding:10px;

}
