* {
	margin: 0;
	padding: 0;
}
#tabs {
	font-size: 90%;
	margin: 20px 0;
}
#tabs ul {
	float: left;
	background: #fff;
	width: 500px;
	padding-top: 4px;
	padding-left:10px;
}
#tabs li {
	text-decoration: none;
	background-image:url(../images/inner-tab-menu-button.png);
	background-repeat:no-repeat;
	background-position:left top;
	color: #ffffff;
	display: block;
	font-size:11px;
	padding-left:20px;
	font-weight:bold;
	outline: none;
	margin-left:9px;
	font-family:Tahoma, Geneva, sans-serif;
	float:left;
	line-height:27px;
	height:27px;
}

#tabs li a {
	background-image:url(../images/inner-tab-menu-button.png);
	background-repeat:no-repeat;
	background-position:right -27px;
	display:block;
	padding-right:20px;
	text-decoration:none;
	color:#ffffff;
}

#tabs li:hover, #tabs ul li.active{
	text-decoration: none;
	background-position:left -54px;
	color: #ffffff;
	display: block;
	outline: none;
	font-weight:bold;
	float:left;
}

#tabs li:hover a, #tabs ul li.active a{ 
	background-position:right -81px;
	display:block;
}

#tabs div.tabinner-container {
	background: #54B093;
	clear: both;
	padding: 15px;
	min-height: 50px;
	color:#ffffff;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
}

