<br /><br />
<br /><br />
<div style = "font-size:15px;color:black">

<p>
   New Event <%= link_to image_tag("../images/Add Green Button.png",:size=>"20x20"), new_event_path %><br /><br />
   New Listing <%= link_to image_tag("../images/Add Green Button.png",:size=>"20x20"), new_listing_path %><br /><br />
   New Group <%= link_to image_tag("../images/Add Green Button.png",:size=>"20x20"), new_group_path %><br /><br />
</p>

</div>


