<div id="events_index">
	<ul>
		<li><a href="#list_view">List view</a></li>
		<li><a href="#map_view">Map view</a></li>
		
	</ul>
	<div id="list_view">
            <%= render :partial => 'list'  %>		
	</div>

	<div id="map_view">
		
			<%= gmaps4rails(@json) %>	
	</div>
	
</div>

			

		
<li><%= link_to 'Create a New Event', new_event_path %></li>


